<!DOCTYPE html>
<html lang="en">
<body>
<div style="max-width:800px; margin:0 auto; font-family: Helvetica,serif">
    <div style="text-align: center">
        <img alt="MainStay" src="//mainstay.xyz/logo-main-stay.png" />
    </div>

    <p style="text-align: center">Dear $$NAME$$, thank you for signing up to our MainStay service!</p>
    <div style="text-align: center">These are the next steps:</div>
    <ol style="margin-top: 0">
        <li>You will receive an email from our KYC partner OnFido to perform a KYC check.</li>
        <li>If successfully confirmed, we will email you a link to set up your payment details.</li>
        <li>Once that is complete, we will email your individual MainStay attestation slot to you.</li>
    </ol>

    <br />
    <div style="text-align: center">
        <div>Then you can start securing and verifying your documents and data!</div>
        <p>
            For any technical assistance, please refer to our guidance documents under:
            <br>
            <a href="https://commerceblock.readthedocs.io/en/latest/mainstay/index.html">MainStay - Technical
                documentation</a>
            <br />
        </p>

        <p>If you have any questions or issues, please contact us under <a href="mailto:support@mainstay.xyz">support@mainstay.xyz</a>.</p>
        <br />
        <p>Your CommerceBlock Team</p>
        <div style="text-align: center">
            <img alt="CommerceBlock" src="//mainstay.xyz/logo-commerce-block.png" />
        </div>
    </div>
</div>
</body>
</html>
