<!DOCTYPE html>
<html lang="en">
<body>
<div style="max-width:800px; margin:0 auto; font-family: Helvetica,serif">
    <div style="text-align: center">
        <img alt="MainStay" src="$$MAIN-STAY-LOGO-URL$$" />
    </div>


    <br />
    <div style="text-align: center">
        <p>Dear $$NAME$$, you successfully cleared our KYC verification!</p>
        <p>To finalise the process, please click on the link below and provide your payment details:</p>

        <p>
            <a href="https://mainstay.xyz/subscribe/$$CODE$$">MainStay - Subscription Payment Details</a>
        </p>

        <p>Once that is complete we will send you your attestation slot.</p>
        <br />
        <p>
            For any technical assistance, please refer to our guidance documents under:
            <br>
            <a href="https://commerceblock.readthedocs.io/en/latest/mainstay/index.html">MainStay - Technical
                documentation</a>
            <br />
        </p>

        <p>
            If you have any questions or issues, please contact us under <a href="mailto:support@mainstay.xyz">support@mainstay.xyz</a>.
        </p>
        <br />
        <p>Your CommerceBlock Team</p>
        <div style="text-align: center">
            <img alt="CommerceBlock" src="$$COMMERCE-BLOCK-LOGO-URL$$" />
        </div>
    </div>
</div>
</body>
</html>
